 	/* style.css */
h1, h2, h3, h4, h5, h6 {
    color: green;       /* d. Set Heading text color as green */
}

p {
    font-size: 13px;     /* b. Set paragraph font size */
    color: blue;         /* c. Set the text color as blue */
}
